@font-face {
	font-family: "Karla";
	src: url("../fonts/Karla/Karla-Regular.woff2") format("woff2"),
		url("../fonts/Karla/Karla-Regular.woff") format("woff"),
		url("../fonts/Karla/Karla-Regular.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Marcellus";
	src: url("../fonts/Marcellus/Marcellus-Regular.woff2") format("woff2"),
		url("../fonts/Marcellus/Marcellus-Regular.woff") format("woff"),
		url("../fonts/Marcellus/Marcellus-Regular.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	--main_color: burlywood;
	--alt_color: maroon;
	--alt_background: #545454;
	--content_width: 1200px;
}

* {
	font-family: Karla;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
h2,
h3 {
	font-family: Marcellus;
}

nav {
	background-color: var(--main_color);
	height: 40px;
	align-items: center;

	> ul {
		list-style: none;
		display: flex;
		gap: 5rem;

		> li > a {
			color: var(--alt_color);
			&:hover {
				border-bottom: 2px solid white;
				background-color: var(--alt_color);
				color: white;
				padding: 5px;
				border-radius: 10%;
			}
		}
	}
}

.hidden_link {
	text-decoration: none;
}

.flex_center {
	display: flex;
	justify-content: center;
}

main {
	max-width: var(--content_width);
	margin: 0 auto;
}

#front_picture {
	display: block;
	margin-bottom: 1rem;
	width: 100%;
}

.extra_pictures {
	width: 100%;
	display: block;
}

.content_section {
	width: 100%;
	display: flex;
	margin-bottom: 1rem;
	flex-flow: wrap;

	> div {
		margin: 0 0.5rem;

		> ul {
			margin: 1rem 0 1rem 1rem;
		}

		> p {
			margin-bottom: 0.5rem;
		}
	}
}

.text_to_right {
	width: 100%;
	text-align: right;
}

h2 {
	margin-bottom: 1rem;
}

.contact_section {
	width: 100%;
	background-color: var(--alt_background);
	display: flex;
	justify-content: center;
	padding: 1rem 0;
}

#form {
	display: block;
	width: var(--content_width);
}

footer {
	background-color: var(--alt_color);

	> div {
		padding: 2rem;
		margin: 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 1rem;

		max-width: var(--content_width);
		> div {
			> h2 {
				color: white;
			}
			> ul {
				list-style: none;

				> li > a {
					text-decoration: none;
					color: white;
				}
			}
		}
	}
}

.store_logo {
	height: 60px;
	display: block;
}

.logo {
	height: 35px;
	margin: 0 1rem;
}
