@font-face {
	font-family: "Dancing Script";
	src: url("../fonts/DancingScript/DancingScript-Regular.woff2")
			format("woff2"),
		url("../fonts/DancingScript/DancingScript-Regular.woff") format("woff"),
		url("../fonts/DancingScript/DancingScript-Regular.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"),
		url("../fonts/Lato/Lato-Regular.woff") format("woff"),
		url("../fonts/Lato/Lato-Regular.ttf");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato";
}

:root {
	--page_main_color: #053617;
	--text_alt_color: white;
	--content_width: 1100px;
}

#header-image {
	width: 100%;
	display: block;
}

h1,
h2 {
	font-family: "Dancing Script";
}

h2 {
	font-size: 2rem;
	font-weight: 300;
}

nav {
	width: 100%;
	margin: 0 auto;

	li {
		list-style: none;
		padding-bottom: 5px;
		&:hover {
			border-bottom: 3px solid var(--text_alt_color);
		}
	}
}

/* .nav-list {
	display: flex;
	justify-content: center;
} */

.nav-button {
	color: var(--text_alt_color);
	text-decoration: none;
}

.nav-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	height: 60px;
}

/* .main-section {
	width: var(--content_width);
} */

.coffee-section {
	display: flex;
}

.white-section {
	width: 20%;
}

.img-column {
	display: block;
}

.img-left-column {
	width: 100%;
}

.img-rigth-column {
	width: 100%;
}

.green-section {
	background-color: var(--page_main_color);
	color: var(--text_alt_color);
}

.content-section {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.opinions-section {
	text-align: center;
	margin: 1rem;
}

.opinions-container {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;
}

.opinion {
	flex: 1;
	padding: 1rem;
}

.opinion-author {
	color: red;
}

footer {
	height: 220px;
}

.social-media-logos {
	height: 25px;
	width: 25px;
}

/* main section:last-child {
	height: 400px;
} */

footer > div {
	max-width: var(--content_width);
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
	column-gap: 1rem;

	div {
		background-color: blueviolet;
		border: 5px solid black;
	}
}
