@font-face {
	font-family: "Lato";
	src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"),
		url("../fonts/Lato/Lato-Regular.woff") format("woff"),
		url("../fonts/Lato/Lato-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Dancing Script";
	src: url("../fonts/DancingScript/DancingScript-Regular.woff2")
			format("woff2"),
		url("../fonts/DancingScript/DancingScript-Regular.woff") format("woff"),
		url("../fonts/DancingScript/DancingScript-Regular.ttf") format(truetype);
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Lato, Arial, Helvetica, sans-serif;
}

:root {
	--color_principal_fondo: #053617;
	/* --color_principal_fondo: pink; */
	--color_principal_texto: #fff;
	--anchura_contenido: 1100px;
}

header {
	img {
		width: 100%;
		display: block;
	}
}

h1,
h2,
h3 {
	font-family: "Dancing Script";
}

h2 {
	font-size: 3.5rem;
	font-weight: 200;
	margin-bottom: 2rem;
}

nav {
	> div {
		max-width: var(--anchura_contenido);
	}

	justify-content: center;

	a {
		color: inherit;
		text-decoration: none;
		font-size: 1.5rem;
		padding-bottom: 5px;
		&:hover {
			border-bottom: 3px solid white;
		}
	}

	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 5rem;
		height: 80px;
	}

	li {
		list-style: none;
	}

	/* div {
        margin: 0 auto;
        max-width: 1200px;
        background-color: red;
        height: 60px;
    } */
}

.nav-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5rem;
	height: 60px;
}

.fondo {
	background-color: var(--color_principal_fondo);
	color: var(--color_principal_texto);
}

section {
	> div {
		max-width: var(--anchura_contenido);
		margin: 0 auto;
		display: flex;
		align-items: center;

		div {
			width: 50%;
			padding: 1rem;

			p {
				font-size: 1.5rem;
				/* margin-top: 2rem; */
			}
		}
	}
}

/* #opiniones {
  height: 400px;
} */

/* main section:last-child {
	height: 400px;
} */

footer > div {
	padding: 2rem;
	max-width: var(--anchura_contenido);
	margin: 0 auto;
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
	column-gap: 1rem;

	li {
		list-style: none;
		margin: 0.5rem;
	}

	a {
		text-decoration: none;
		color: inherit;
	}

	h2 {
		font-family: Lato;
		font-size: 1.2rem;
		margin-bottom: 1rem;
	}

	img {
		max-width: 40px;
		margin-right: 1rem;
	}
}

#mail {
	font-size: 1.5rem;
	color: var(--color_principal_texto);
	text-decoration: none;
	margin-bottom: 1rem;
	display: block;
}
